<% show = false if !defined? :show %>

<div class="new-comment <%= show ? '' : 'hidden'%>">
  <%= simple_form_for(parent.comments.build) do |f| %>
    <%= f.input :body, label: false %>
    <%= f.input :parent_id, as: :hidden, value: @post.id %>
    <%= f.input :parent_type, as: :hidden, value: @post.class %>
    <%= f.button :submit %> <% end %>
</div>
