<div class="container">
  <div class="row">
    <div class="card blue-grey darken-1">
      <div class="card-content white-tet">
        <span class="card-title">Post</span>
        <p>
          <%= @post.content %>
        </p>
      </div>
    </div>

    <h3>Comment on this post</h3>
    <div class="new-comment">
      <%= simple_form_for(@post.comments.build) do |f| %>
        <%= f.input :body %>
        <%= f.input :parent_id, as: :hidden, value: @post.id %>
        <%= f.input :parent_type, as: :hidden, value: @post.class %>
        <%= f.button :submit %>
      <% end %>
    </div>

    
    <h3>Comments</h3>
    <%# Renders comments for the post, and then recursively for its children
        Post should have comments pre-loaded all the way down to avoid n^n queries %>
    <%= render 'comments_list', parent: @post  %>

    <%= link_to "Home", root_url, class: "btn waves-effect waves-light" %>
  </div>
</div>
